@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|PT+Sans:400,400i,700,700i&display=swap');
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    background: transparent;
  }
  
  main, article, aside, figure, footer, header, nav, section, details, summary, hgroup {
    display: block;
  }
  
  html,
  body {
    cursor: default;
  }
  .header h1 {
      background-color: rgb(48, 46, 46);
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      padding: 0.4em 0;
      text-transform: uppercase;
      position: fixed;
      width: 100%;
  }
  .city {
      display: grid;
      font-family: 'Dancing Script', cursive;
      font-size: 3em;
      font-weight: 700;
      width: 100%;
      height: auto;
      background-size: 100% cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
  }
  .city a {
      text-decoration: none;
      color: white;
  }
  .city h2 {
      margin: 4em 0;
      text-align: center;
  }
  .toronto {
      background-image: url(/img/toronto.jpeg);
  }
  .helsinki {
      background-image: url(/img/helsinki.jpeg)
  }
  .osaka {
      background-image: url(/img/osaka.jpeg)
  }
  .lagos {
      background-image: url(/img/lagos.jpeg)
  }